/*.recommended-card {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Town_and_Country_fh000023.jpg/800px-Town_and_Country_fh000023.jpg");
  max-height: 100vh;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/